<div class="container">
    <h3>Upload Files</h3>
    <form [formGroup]="myForm" (ngSubmit)="upload()">

        <div class="form-group">
            <label for="file">File</label>
            <input formControlName="file" id="file" type="file" class="form-control" (change)="selectFile($event)"
                name="data">
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <!-- <div *ngIf="f.file.errors?.required" [required]>File is required.</div> -->
            </div>

            <!-- <mat-form-field appearance="fill"> -->
                <!-- <mat-label>Choose a date</mat-label> -->
                <label for="date">Choose a date</label>
                <input formControlName="date" id="date" type="date" class="form-control" matInput [matDatepicker]="picker" name="datePicker" ngDefaultControl>
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            <!-- </mat-form-field> -->
    
        </div>


        <button class="btn btn-primary" type="submit">Submit Monday</button>
    </form>

</div>